.circular-dot-roller {
    width: 80px;
    height: 80px;
}

.circular-dot-roller div {
    animation: circular-dot-roller-animation 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    animation-play-state: paused;
    transform-origin: 40px 40px;
}

.circular-dot-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #fff;
    margin: -4px 0 0 -4px;
}

.circular-dot-roller div:nth-child(1) {
    animation-delay: -0.036s;
}

.circular-dot-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
}

.circular-dot-roller div:nth-child(2) {
    animation-delay: -0.072s;
}

.circular-dot-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
}

.circular-dot-roller div:nth-child(3) {
    animation-delay: -0.108s;
}

.circular-dot-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
}

.circular-dot-roller div:nth-child(4) {
    animation-delay: -0.144s;
}

.circular-dot-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
}

.circular-dot-roller div:nth-child(5) {
    animation-delay: -0.18s;
}

.circular-dot-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
}

.circular-dot-roller div:nth-child(6) {
    animation-delay: -0.216s;
}

.circular-dot-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
}

.circular-dot-roller div:nth-child(7) {
    animation-delay: -0.252s;
}

.circular-dot-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
}

.circular-dot-roller div:nth-child(8) {
    animation-delay: -0.288s;
}

.circular-dot-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
}

@keyframes circular-dot-roller-animation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}