.dot-rotate {
    width: 200px;
    height: 200px;
    border: 2px solid transparent;
    border-radius: 50%;
}

.inner-border-double {
    margin: auto;
    width: 60px;
    height: 60px;
    border: 2px solid white;
    border-radius: 50%;
}

@keyframes border-double-animation {
    100% {
        transform: rotate(360deg);
    }
}

.dot-rotate:nth-child(1) {
    transform: rotate(0deg);
}

.dot-rotate:nth-child(2) {
    transform: rotate(36deg);
}

.dot-rotate:nth-child(3) {
    transform: rotate(72deg);
}

.dot-rotate:nth-child(4) {
    transform: rotate(108deg);
}

.dot-rotate:nth-child(5) {
    transform: rotate(144deg);
}

.dot-rotate:nth-child(6) {
    transform: rotate(180deg);
}

.dot-rotate:nth-child(7) {
    transform: rotate(216deg);
}

.dot-rotate:nth-child(8) {
    transform: rotate(252deg);
}

.dot-rotate:nth-child(9) {
    transform: rotate(288deg);
}

.dot-rotate:nth-child(10) {
    transform: rotate(324deg);
}


@keyframes bubbles-loader {
    0% {
        transform: scale(1);
        background: white;
    }
    50% {
        transform: scale(1);
        background: transparent;
    }
    100% {
        transform: scale(1);
        background: transparent;
    }
}
