.dot-pulse {
    position: relative;
    width: 30px;
    height: 30px;
    background: rgb(255, 255, 255);
    border-radius: 50%;
    z-index: 20;
}

.dot-pulse::after {
    content: '';
    width: 30px;
    height: 30px;
    position: absolute;
    z-index: 10;
    background-color: white;
    border-radius: 50%;
    animation: dot-pulse-animation 1.6s infinite ease-in;
    animation-play-state: paused;
}

@keyframes dot-pulse-animation {
    20% {
        background-color: white;
    }
    60% {
        transform: scale(2.5);
        background-color: rgba(255, 255, 255, 0)
    }
    100% {
        transform: scale(2.5);
        background-color: rgba(255, 255, 255, 0)
    }
}
