.dot-bounce {
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    animation: dot-bounce-animation 1s infinite linear;
    animation-play-state: paused;
}

@keyframes dot-bounce-animation {
    0% {
        transform: scaleY(.2);
    }
    50% {
        transform: translateY(-70px);
        /* top: 100px; */
    }
}