.line-wave {
    width: 10px;
    height: 70px;
    margin: auto;
    list-style-type: none;
    background: #fff;
    display: inline-block;
    transform-origin: bottom center;
    /* border-top-right-radius: 20px;
    border-top-left-radius: 20px; */
    animation: line-wave-animation 1.2s linear infinite;
    animation-play-state: paused;
}

.line-wave:nth-child(1) { animation-delay: 0.1s; }
.line-wave:nth-child(2) { animation-delay: 0.2s; }
.line-wave:nth-child(3) { animation-delay: 0.3s; }
.line-wave:nth-child(4) { animation-delay: 0.4s; }
.line-wave:nth-child(5) { animation-delay: 0.5s; }
.line-wave:nth-child(6) { animation-delay: 0.6s; }
.line-wave:nth-child(7) { animation-delay: 0.7s; }
.line-wave:nth-child(8) { animation-delay: 0.8s; }
  
@keyframes line-wave-animation {
    0% {
        transform: scaleY(0);
      /* background: ; */
    }
    50% {
        transform: scaleY(1);
        background: white;
    }
    100% {
        transform: scaleY(0.1);
        background: transparent;
    }
}